@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@import "tailwindcss";

/* universal style  */
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #060044;
  --second-bg-color: #01b5e80d;
  --third-bg-color: #7752fe0a;
  --fourth-bg-color: #070339;
  --text-color: #ffffff;
  --main-color: #0ef;
  --text-second-color: #01b5e8;
  --font-main: "DM Sans", sans-serif;
}